spring:
  application:
    name: warehouse-manager
  output:
    ansi:
      enabled: ALWAYS


  datasource:
    url: jdbc:postgresql://localhost:5432/warehouse_db
    username: postgres
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true